<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Yogi Kulkarni - Fab Academy">
  <meta name="author" content="Yogi Kulkarni">

  <title>Yogi Kulkarni - Fab Academy 2016</title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.css">
  <link rel="stylesheet" href="css/animate.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/prism.css" />
  
  <link rel="shortcut icon" href="images/favicon.ico" />
</head>
